.container-history{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
  }
  
  th, td {
    border: 1px solid grey;
    padding: 10px ;
  }
  
  